<?xml version="1.0" encoding="UTF-8" ?>
<odoo>
    <data>
        <!--Student-->
        <menuitem id="my_profile_student"
                  name="My Profile"
                  action="action_my_profile_student"
                  web_icon="my_profile_school_erp,static/description/icon.png"
                  groups="base_school_erp.group_school_student"/>

        <!--My Finance (Submenu sequence = 0)-->
        <menuitem id="my_finance_student"
                  name="Finance"
                  action="action_my_finance_student"
                  sequence="0"
                  parent="my_profile_student"/>

        <!--Teacher-->
        <menuitem id="my_profile_teacher"
                  name="My Profile"
                  action="action_my_profile_teacher"
                  web_icon="my_profile_school_erp,static/description/icon.png"
                  groups="base_school_erp.group_school_teacher"/>

    </data>
</odoo>