<?xml version="1.0" encoding="UTF-8" ?>
<odoo>
    <data>
        <!--menuitem-->
        <menuitem id="finance"
                  name="Finance"
                  action="action_finance"
                  web_icon='finance_school_erp,static/description/icon.png'
                  groups="base_school_erp.group_school_admin,base_school_erp.group_school_teacher"/>
    </data>
</odoo>