<?xml version="1.0" encoding="UTF-8" ?>
<odoo>
    <data>
        <!--Main-->
        <menuitem id="task"
                  name="Task"
                  action="action_task"
                  web_icon="task_school_erp,static/description/icon.png"
                  groups="base_school_erp.group_school_admin"/>
    </data>
</odoo>